@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



.bannerIcon{
     @apply  w-14 h-14 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300 
   
 } 
 .cvIcon{
    @apply  w-auto h-12 bg-designColor bg-opacity-30 text-white text-sm inline-flex items-center justify-center rounded-md   cursor-pointer  

 }
 .resume{
   @apply w-full h-10 bg-black bg-opacity-20 text-xl
             text-gray-300 flex justify-center cursor-pointer 
             hover:bg-opacity-40 duration-300 items-center border-[1px]
}
.bgOpacity{
    @apply bg-black bg-opacity-40
}
 .active{
 color:white;
 }
 .inputText{
      @apply w-full h-10 rounded-lg border-b-[1px] border-b-gray-600 bg-[#0a0a0a] 
      text-lightText px-4 active:outline-none focus-visible:outline-designColor
       outline-none focus-visible:border-b-transparent duration-300
 }
 .scrollbar-hide::-webkit-scrollbar{
    display: none;
}
